name: Deploy to jino.ru

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: FTP Deploy
        uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with:
          server: ${{ secrets.JINO_SERVER }}
          username: ${{ secrets.JINO_USERNAME }}
          password: ${{ secrets.JINO_PASSWORD }}
          protocol: ${{ secrets.JINO_PROTOCOL }}   # sftp или ftps
          port: ${{ secrets.JINO_PORT }}
          server-dir: ${{ secrets.JINO_SERVER_DIR }}
          local-dir: ./
          exclude: |
            **/.git*
            **/.github/**
            **/node_modules/**
            **/.DS_Store
            **/README.md
